---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Blog"
---
<BaseLayout pageTitle={pageTitle}>
	<p>Here is my Blog posts</p>
	<ul>
		<li><a href="/posts/post-1">A Testimony: My Salvation, Calling, and Ministry</a></li>
		<li><a href="/posts/post-2">Church & Station: Pioneering Japan Mssion and Christian Journalism with Information Technology</a></li>
	</ul>
</BaseLayout>
