---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Nehemiah Archives";
---
<BaseLayout pageTitle={pageTitle}>
	<p>This is a persnal website of <span class="bold"><a href="/about/">Hokuto Joel Ide</a></span>, followings are some of my works:</p>

	<p><span class="bold"><a href="https://www.christiantoday.co.jp/reporter/ide-hokuto/">Articles</a></span> I wrote in Christian Today Japan, Evangelical Online News.</p>

	<p><span class="bold"><a href="https://note.com/hokuto_ide">Essays on Faith</a></span> reflecting how I believe.</p>

	<p><span class="bold"><a href="/blog/">Blogs</a></span> of my life record, how I think.</p>

	<p><span class="bold"><a href="https://www.christiantoday.co.jp/infographics/church-station/">Mission Map of Japan</a></span> I made to raise awareness of church planting in Japan.<br>Unreached Inhabitant Area is in Blue, Inhabitant Area Near Church is in Orange.</p>
	<iframe class="videocontent" src="https://www.christiantoday.co.jp/infographics/church-station" width="600" height="400"></iframe></p>

	<p><span class="bold"><a href="https://www.slideshare.net/HokutoIde1/missioinformatics-how-information-technology-contribute-to-mission-study">A New Academic Discipline</a></span> I suggest to create<br>Missioinformatics, combining Missiology and Informatics, slides about it:</p>
	<iframe src="https://www.slideshare.net/slideshow/embed_code/key/oNYna1vlW7kEJh?startSlide=1" width="600" height="422" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px;max-width: 100%;" allowfullscreen></iframe>
	
	<p><span class="bold"><a href="https://www.youtube.com/watch?v=f_dwuQcWBdE">Lecture Video</a></span> for Oxford Centre for Mission Studies on December 7th 2021: </p>
	<iframe width="600" height="400" src="https://www.youtube.com/embed/f_dwuQcWBdE" title="Missioinformatics - How Information Technology Contributes to Mission Study" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</BaseLayout>
